.btn {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;


  letter-spacing: .1rem;
  border: 0;
  text-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1);
}

.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%);
  }
  &:focus {
    background-color: darken($primary, 10%);
    color: white;
  }
  &:active {
    background-color: darken($primary, 15%) !important;
  }
}

.btn-primary:disabled {
  background-color: $primary;
  cursor: not-allowed;
  pointer-events: all !important;
}

.slide-display-container {
  position: relative;

  img {
    z-index: 0;
  }
  .btn-prev {
    left: 0;
  }
  .btn-next {
    right: 0;
  }
}

.btn-prev, .btn-next {
  box-shadow: none;
  color: $white;
  background: rgba($blue, 0.5);
  border-radius: 0;
  &:hover, &:focus {
    color: $white;
    background: rgba($blue, 1);
  }
  .slide-display-container > & {
    top: 45%;
    position: absolute;
    z-index: 90;
  }
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}
