.map-responsive {
  overflow: hidden;
  padding-bottom: 75%;
  position: relative;
  height: 0;
  @media (min-width: 576px) {
    padding-bottom: 50%;
  }
  @media (min-width: 992px) {
    padding-bottom: 33.333%;
  }
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
