.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  z-index: 0;
  background-color: $brown;
  background-image: url('../img/bg-masthead-1024.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 1025px) {
    background-image: url('../img/bg-masthead-1920.jpg');
  }
  @media (min-width: 1921px) {
    background-image: url('../img/bg-masthead.jpg');
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%,$black 100%);
  }
  h1 {
    font-family: $font-family-display;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: $yellow;
    text-shadow: 1px 2px 0 $brown;
  }
  h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
  @media(min-width: 768px) {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;
    h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
    }
    h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
}
