#mainNav {
  min-height: 56px;
  padding-top: 28px;
  padding-bottom: 0;
  border-bottom: none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    cursor: pointer;
    color: $primary;
  }
  .dropdown-menu {
    border: 0;
    border-radius: 0;
    background: $yellow;
    top: 4.3333rem;
    .dropdown-item {
      line-height: 2;
      border-radius: 0;
      padding: .25rem 1.5rem .25rem 2rem;
      color: $brown;
      &:hover {
        background: rgba($black, 0.05);
      }
    }
  }
  .nav-link {
    i[class^=fa] {
      display: none;
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $white;
    border: 1px solid $white;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: $white;
    font-weight: 700;
    padding: .9rem 0;
    font-size: 2rem;
    font-family: $font-family-display;
  }
  .navbar-nav {
    padding: .5rem 0;
    .nav-item {
      position: relative;
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  &.navbar-shrink {
    background-color: $yellow;
  }
  @media (max-width: 992px) {
    .navbar-collapse {
      background-color: $yellow;
    }
    .nav-link {
      padding: .25rem 1.5rem .25rem 2rem;
    }
    &.navbar-shrink {
      .navbar-brand {
        color: $orange;
      }
      .navbar-toggler {
        color: $orange;
        border: 1px solid $orange;
      }
    }
  }
  @media (min-width: 992px) {
    padding-top: 24px;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    .navbar-brand {
      padding: .5rem 0;
      color: transparent;
      font-size: 2rem;
      &:hover {
        color: transparent;
      }
    }
    .nav-link {
      padding: 2rem 1.5rem;
      color: $white;
      &:hover {
        color: $white;
      }
      &:active {
        color: $white;
      }
      i[class^=fa] {
        display: inline-block;
        opacity: 0.3;
        font-size: 0.75rem;
        vertical-align: middle;
        margin-left: 0.5rem;
      }
    }
    .nav-item.active:after {
      position: absolute;
      bottom: 20px;
      left: 24px;
      right: 24px;
      width: calc(100% - 48px);
      content: " ";
      border-bottom: 2px solid #fff;
    }
    .nav-item:hover {
      .dropdown-menu {
        display: block;
      }
    }
    &.navbar-shrink {
      .navbar-brand {
        color: $orange;
      }
      .nav-item.active:after {
        border-bottom: 2px solid #23160d;
      }
      .navbar-toggler {
        color: $orange;
        border: 1px solid $orange;
      }
      .nav-link {
        color: $black;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $orange;
        }
        &:active {
          color: $orange;
        }
        &.active {
          color: $orange;
          outline: none;
          border-bottom: 0.25rem solid $orange;
        }
      }
    }
  }
}

#langNav {
  z-index: 1130;
  height: 24px;
  background: transparent;
  margin-top: 10px;

  .container {
    padding: 0 1rem;
  }
  .langbar {
    padding-right: 0;
  }
  a {
    cursor: pointer;
  }
  a > img {
    height: 20px;
    width: auto;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    opacity: 0.5;
  }
  a:hover > img {
    opacity: 1;
  }
  a.active > img {
    opacity: 1;
  }
  @media (min-width: 576px) {
    .container {
      padding: 0;
    }
  }
  @media (min-width: 992px) {
    .container {
      padding: 0 1rem;
    }
    .langbar {
       padding: 0 1.5rem;
    }
  }
}
